@import "npm:bootstrap/dist/css/bootstrap.min.css";
@import "npm:react-bootstrap-typeahead/css/Typeahead.css";
@import "npm:react-bootstrap-typeahead/css/Typeahead.bs5.css";

.slack-users-ac {
	background: white;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 999999;
}
